@import 'smallButton.css';

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

body {
  background-color: #2C3038;
  color: #fff;
  font-size: 16px;
  margin: 0;
}

body .blurrable {
  filter: blur(0px);
  transition: 0.5s;
  transition-property: filter;
}
body.blurred .blurrable {
  filter: blur(2px);
}

.pane {
  background-color: #191B20;
  box-shadow: 0 0 10px 0 #000000cc;
  border-radius: 6px;
}

.blockTransionsOnStart * {
  transition: 0s !important;
}

[type="button"] {
  transition: 0.3s ease;
  transition-property: background-color, color;
  border: 0px;
  border-radius: 20px;
  background-color: #046dfa;
  padding: 10px 40px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  display: flex;
  justify-content: center;
}
[type="button"]:hover {
  background-color: #368cff;
}
[type="button"]:disabled {
  color: #949494;
  background-color: #112f57;
}

[type="button"].secondary {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
}
[type="button"].secondary:hover {
  background-color: rgba(255, 255, 255, 255);
  color: #09090c;
}

.title {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

ul {
  margin-top: 10px;
  padding: 0;
}

ul li {
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  height: 24px;
  overflow: hidden;

  padding: 1px 0px;
  opacity: 0;
  animation: unwrap 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes unwrap {
  from {
    padding: 1px 0px;
    opacity: 0;
  }

  to {
    padding: 1px 15px;
    opacity: 1;
  }
}

.popup {
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: 0.5s;
  transition-property: opacity;
  box-shadow: 0 0 20px 0 #000000ff;
  z-index: 4;
}

.popupContent {
  font-size: 20px;
  text-align: center;
}

.popupControls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.popupControls * {
  width: 100%;
  margin: 10px;
}

.translation {
  white-space: pre-line;
}

[type="text"] {
  background-color: inherit;
  border: none;
  color: inherit;
  padding: 5px;
}
[type="text"]:focus {
  outline: 1px solid #888;
  outline-offset: 0;
}
