body {

}

#preparation {
  padding: 20px;
}

#preparation .controls {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  margin-top: 30px;
}

#preparation #numberOfWords {
  color: #04080c;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  padding: 0px 10px;
  outline: none;
}

#preparation [type="button"] {
  margin-left: 15px;
}

#game {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 420px;
  padding: 20px 20px 30px;
}

#game .wordsLeft {
  color: #aaa;
}

#game .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#game .word {
  margin: 20px 0;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

#game .translation {
  margin: 30px;
  overflow-y: auto;
}

#game .controls {
  margin-top: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

#game [type="button"] {
  width: 100%;
  min-width: 0;
}

#finishButton {
  grid-column: span 2;
}

#endScreen {
  padding: 15px;
  width: 330px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#endScreen [type="button"] {
  width: 70%;
  margin: 10px auto;
}
