body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2590e7 !important;
}

.listContainer {
  background-color: #09090c;
  position: absolute;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 80%;
}

.actionBlocker {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.controls, .controlsPlaceholder {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
}
.controls {
  position: absolute;
}

.controls .button {
  display: flex;
}
.controls .svgContainer {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  padding: 10px;
  cursor: pointer;
  transition: 0s;
  position: relative;
}
.controls svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controls .goBackButton svg {
  width: 45px;
  height: 45px;
}
.controls .wordAddButton svg {
  width: 40px;
  height: 40px;
}

.controls .text {
  height: 100%;
  box-sizing: border-box;
  padding: 15px 4px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
}

.fullList {
  padding: 15px 60px;
}

.groupContainer {
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.groupName {
  font-weight: 800;
  text-align: center;
}

.removeWordButton {
  color: #ff5e00;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
}
.removeWordButton:hover {
  color: red;
}

.wordContainer {
  display: block;
}

.wordContainer.isEditing {
  overflow: auto;
  height: auto;
  min-height: 24px;
}

.wordControls {
  display: flex;
  justify-content: space-between;
}
.wordControls input {
  padding-left: 28px;
}
.wordControls::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/edit.svg);
  transform: scale(0.8);
  filter: invert(0.5);
  background-size: contain;
}
