body {
  position: relative;
  width: 100%;
  height: 100%;
}

.listContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  border-radius: 0;
}

.actionBlocker {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #0008;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.controlsContainer, .controlsPlaceholder {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
}
.controlsContainer {
  position: fixed;
  background-color: #191B20;
  box-shadow: 0 0 20px 0 #000000ff;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}

.controls>*:first-child {
  margin-right: auto;
}

.controls .button {
  display: flex;
}
.controls .svgContainer {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  padding: 10px;
  cursor: pointer;
  transition: 0s;
  position: relative;
}
.controls svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controls .goBackButton svg {
  width: 45px;
  height: 45px;
}
.controls .wordAddButton svg {
  width: 40px;
  height: 40px;
}

.controls .text {
  height: 100%;
  box-sizing: border-box;
  padding: 15px 4px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
}

.fullList {
  padding: 60px 60px;
}

.groupContainer {
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.groupContainer:last-child {
  margin-bottom: 0;
}

.groupName {
  font-weight: 800;
  text-align: center;
}

.wordsContainer {
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
}

.wordContainer {
  display: block;
  margin: 0;
}

.wordContainer.isEditing {
  overflow: auto;
  height: auto;
  min-height: 24px;
}

.wordControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wordControls::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/edit.svg);
  transform: scale(0.8);
  filter: invert(0.5);
  background-size: contain;
}
.wordControls input {
  padding-left: 28px;
  width: 100%;
}

.smallButtonsContainer {
  display: flex;
}

.unwrapButtonsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.unwrapButtonsContainer [type="button"] {
  margin-top: 20px;
}
