.translationPopup {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: var(--background);
  padding: 18px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #0008;
  z-index: 100000;
}

.translationPopup .word {
  position: relative;
}

.translationPopup .wordInput {
  font: inherit;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border: none;
  padding: 5px;
  padding-right: 24px;
  padding-left: 0;
  box-sizing: border-box;
  width: 100%;
}
.translationPopup .wordInput::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../img/edit.svg);
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  pointer-events: none;
  filter: invert(0.5);
}
.translationPopup .wordInput:focus {
  outline: 1px solid #000;
  outline-offset: 0;
}

.translationPopup .translation {
  position: relative;
  height: 100px;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-line;
  margin-top: 10px;
}

.translationPopup .placeholder::after {
  content: 'Loading...';
  color: #0003;
}

.translationPopup .buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.translationPopup .button {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 15px;
  background-color: #368cff;
  color: #fff;
}
